<section class="input-form">
  <h1>Новый Контекст</h1>

  <%= form_for @user do |f| %>
    <div class="input-form__element">
      <%= f.label :email, 'Ваш email:' %><%= f.text_field :email %>
      <%#= error_on_field :email, f.object %>
    </div>

    <div class="input-form__element">
      <%= f.label :password, 'Пароль:' %><%= f.password_field :password %>
      <%#= error_on_field :password, f.object %>
    </div>

    <div class="input-form__element">
      <%= f.label :password_confirmation, 'Пароль ещё раз:' %><%= f.password_field :password_confirmation %>
      <%#= error_on_field :password_confirmation, f.object %>
    </div>

    <%= submit_tag 'Создать Контекст' %>
  <% end %>
</section>