<!DOCTYPE html>

<html>
  <head>
    <title>Context</title>
    <meta charset="utf-8"> 
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1 class="app-title"><%= link_to 'Контекст', root_path %></h1>

    <% flash.each do |type, content| %>
      <%= content_tag :div, content, class: "flash-content flash-content__#{type}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
